# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Terraform generated plans
*.tfplan
*.plan

# Terraform investigation / temporary files
current-old-state.json
listener.json
provider-schema.json
plan-review.txt